.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dropdown-nav {
  float: left;
  padding-top: 30px;
  padding-left: 50px;
}

/* .response-container {
  padding-top: 50px;
} */

.response-btn-container {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 100px;
}

.edit-res-btn {
  width: 85px;
}

.response-text {
  padding-top: 20px;
  padding-left: 20px;
}

.nav-icon {
  font-size: 900px;
}

.drp-btn {
  font-size: 40px;
  height: 50px;
  width: 50px;
}